[submodule "Flongo/ExternalDependencies/spdlog"]
	path = Flongo/ExternalDependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Flongo/ExternalDependencies/GLFW"]
	path = Flongo/ExternalDependencies/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Flongo/ExternalDependencies/imgui"]
	path = Flongo/ExternalDependencies/imgui
	url = https://github.com/TheCherno/imgui
